<!--HOME page-->

{% extends 'base.html' %}
<!--This will inherit the main structure of the base.html-->
{% load static %}



{% block backgroundImg %}                                                                               <!--Make sure to put static in front of static files!!!!-->
<div class="page-header header-filter blur-filter" data-parallax="true" style="background-image: url( {% static 'img/about.jpg'%}  );">
{% endblock %}


{% block mainTitle %}
<!--<h1 style= "color: navy;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;"><i>Learning Sweet</i></h1>-->
<img class="img-responsive" src="{% static 'img/LSweetW.png' %}" alt="LS">
{% endblock %}


{% block subTitle %}
<!--<h2 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">Welcome to my personal website!</h2>-->

{% endblock %}



{% block mainBody %}
<div style=" column-width: 400px;">
    <div class="container">
        
            <h4>Welcome to Learning Sweet</h4> 
            <p>Learning Sweet strives to increase group productivity by enabling you to better collaborate with your peers on group-based, and common assignments. </p>
             <p>Designed specifically to enhance group effectiveness in the IS Junior Core, Learning Sweet allows you to share a combined assignment view.</p>
             <p>Students can use Learning Sweet to keep a pulse on each other's pace, and Professors can use Learning Sweet to make sure they don't plan overlapping tests - wow!</p>
             <p>Register, create a group, and invite your peers to begin!</p>
        
        
        <div align="center">
            <a class="btn btn-primary" href="{% url 'register'%}" style="background-color: #428BCA"><i class="material-icons">how_to_reg</i> Register</a>

            <a class="btn btn-primary" href="{% url 'login' %}" style="background-color: #428BCA"><i class="material-icons">person</i> Login</a>

            <a class="btn btn-default" href="{% url 'viewgroups' %}" style="background-color: #428BCA"><i class="material-icons">groups</i> View Groups</a>
        </div>
        
        
        

    </div>
</div>

{% endblock %}