<!--HOME page-->

{% extends 'base.html' %}
<!--This will inherit the main structure of the base.html-->
{% load static %}



{% block backgroundImg %}                                                                               <!--Make sure to put static in front of static files!!!!-->
<div class="page-header header-filter blur-filter" data-parallax="true" style="background-image: url( {% static 'img/about.jpg'%}  );">
{% endblock %}


{% block mainTitle %}
<!--<h1 style= "color: navy;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;"><i>Learning Sweet</i></h1>-->
<img class="img-responsive" src="{% static 'img/LSweetW.png' %}" alt="LS">
{% endblock %}


{% block subTitle %}
<!--<h2 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">Welcome to my personal website!</h2>-->

{% endblock %}



{% block mainBody %}
<div style=" column-width: 400px;">
    <div class="container">
        <h4>
            Welcome to Learning Sweet <br>
            We strive to make Learning Suite not suck so much <br>
            Here you can login and begin using your account 
        <h4>

        <form method='post' action="{% url 'viewgroups' %}"><br><br>
            <label>Username:</label>
            <input id='username' name='username' type='text'><br>
            <label>Password:</label>
            <input id='password' name='password' type='password'><br>
            <button type='submit'>Login</button>
        </form>
        Don't have a login? Create one <a href="{% url 'register'%}">here.</a>
    </div>
</div>

{% endblock %}