<!--HOME page-->

{% extends 'base.html' %}
<!--This will inherit the main structure of the base.html-->
{% load static %}



{% block backgroundImg %}                                                                               <!--Make sure to put static in front of static files!!!!-->
<div class="page-header header-filter blur-filter" data-parallax="true" style="background-image: url( {% static 'img/byucampus.jpg'%}  );">
{% endblock %}


{% block mainTitle %}
<h1 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">Current Groups</h1>
{% endblock %}


{% block subTitle %}
<h3 style= "color: white;	-webkit-text-stroke: 1px #282828; text-shadow: 0px 4px 4px #282828;"><b>Only groups you have access to appear below. You may reach out to members of other groups to request access to another group, or create your own!</b></h3>

{% endblock %}



{% block mainBody %}




<div class="text-right">
    <a class="btn btn-primary" style="background-color: #428BCA" href={% url 'newgroup' %} >Create a New Group</a>
</div>



<h2 >Your Groups</h2>

    {% for group in group_list %}
        <div class="main main-raised" style='margin: 50px'>
            <div class='container' style='margin: 20px; '>
                    <br>
                    <h3>{{ group.group_name }}</h3> 
                    <hr style= "margin-right:40px">
                
                    
               
                    <div>ID: {{ group.id }}</div>
                    <div>Description: {{ group.group_description }}</div>

                    <hr style= "margin-right:40px">

                    <div><b>Group Members</b> ID / Name:</div>
                    <div style=" column-width: 175px;">
                        {% for user in group.user.all %}
                            {{user.id}} / {{ user.username }} <br>
                        {% endfor %}
                     </div>
                     <div style="text-align:center; margin-right:30px">
                        <a href="/viewassignments/{{group.id}}/" ><i class="material-icons">meeting_room</i>View Group</a>
                     </div>
                     <div style="text-align:right; margin-right:30px">
                           <a href="/viewgroups/editgroup/{{group.id}}/" ><i class="material-icons">create</i> Edit</a>
                    </div>
                
                    <br>
            </div>
        </div>
    {% endfor %}
    <br>

{% endblock %}