<!--CREATE GROUP page-->

{% extends 'base.html' %}
<!--This will inherit the main structure of the base.html-->
{% load static %}



{% block backgroundImg %}                                                                               <!--Make sure to put static in front of static files!!!!-->
<div class="page-header header-filter blur-filter" data-parallax="true" style="background-image: url( {% static 'img/byucampus.jpg'%}  );">
{% endblock %}


{% block mainTitle %}
<h1>
    {% if item %}
        Edit {{ item.name }}
    {% else %}
        Create Group
    {% endif %}
    </h1>
{% endblock %}


{% block subTitle %}
<!--<h2 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">Welcome to my personal website!</h2>-->

{% endblock %}



{% block mainBody %}

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.error %} alert-danger {% else %} alert-success {% endif %} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ message }}
    </div>
  {% endfor %}
{% endif %}

<h2>Group Info</h2>

    <form role="form" action="/viewgroups/betterGroup{% if item %}/{{ item.id }}{% endif %}/" method="POST" >
        <div class="card-body">
            {% csrf_token %}

            {% load widget_tweaks %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field|append_attr:"class:form-control" }}
                
                
                
               {% comment %} <div class="form-group col-md-12">
                    {{ field.label_tag }}
                    {% if field|widget_type != 'checkboxinput' %}
                        {% if field.errors %}
                            {{ field|append_attr:"class:form-control is-invalid"}}
                        {% else %}
                            {{ field|append_attr:"class:form-control"}}
                        {% endif %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <ol>
                        {% for error in field.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                </div>  {% endcomment %}
            {% endfor %}
            
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {% if item %}
                <input class="btn btn-danger float-left"  type="submit" value="Delete" name="delete">
            {% endif %}
            <input class="btn btn-primary float-right"  type="submit" value="Save">
        </div>
    </form>
        

{% endblock %}