{% extends 'base.html' %}
{% load static %}

{% comment %} https://pypi.org/project/django-widget-tweaks/ {% endcomment %}

{% comment %} Dynamically changes to either create a new group, or edit/delete a group. Depending on the type of parameters that are passed when accessing the page. {% endcomment %}

{% block backgroundImg %}                                                                            
<div class="page-header header-filter blur-filter" data-parallax="true" style="background-image: url( {% static 'img/byucampus.jpg'%}  );">
{% endblock %}


{% block mainTitle %}
<h1 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">{% if parameter %} Edit Group {{parameter.id}}'s Attributes{% else %}Create a New Group{% endif %}</h1>
{% endblock %}


{% block subTitle %}
<h3 style= "color: white;	-webkit-text-stroke: 1px #282828; text-shadow: 0px 4px 4px #282828;"><b>{% if parameter %}Change the attributes of group {{parameter.group_name}}{% else %}Assign Attributes to a Group{% endif %}</b></h3>

{% endblock %}



{% block mainBody %}
<h2>Current Group Info</h2>
   <form role="form" action="/viewgroups/editgroup{% if parameter %}/{{ parameter.id }}{% endif %}/" method="POST" >
        <div class="main main-raised" style='margin: 50px'>
            <div class='container' style='margin: 20px;'>
                <br>
                <h3>{{ group.group_name }}</h3> 
                <div style= "margin-right:40px">
                    {% csrf_token %}
                    {% comment %} Themeing / styling widget_tweaks makes the forms not look so ugly {% endcomment %}
                    {% load widget_tweaks %}
                    {% comment %} form was sent in dictionary context to webpage {% endcomment %}

                    <h4>Group Name:</h4>
                    {{ form.group_name|append_attr:"class:form-control" }}
                    <br><br>
                    <h4>Group Description:</h4>
                    {{ form.group_description|append_attr:"class:form-control" }}

                    {% comment %} Custom form-control2 css class made to fix sizing issues {% endcomment %}
                    <h4>Registered Learning Sweet Users to add to group: (Alphabetical)</h4>
                    <div align="center" style=" column-width: 200px;">
                    <br><br>
                        <div>ctrl + select multiple users to add to your group.</div>
                        <br>
                        <div>Learning Sweet automatically adds the group creator to a new group, so you do not have to worry about keeping yourself selected.</div>
                        
                        {{ form.user|append_attr:"size:15"}}

                       {% comment %} Hides a select box where the logged in user is selected, so that you can never create a group that you are not in. {% endcomment %}
                    <div style=display:none>   {{ form.user|append_attr:"size:15"}} </div>

                        
                    </div>
                    <br><br><br>


                    {% comment %} Hides the delete button if there was no parameter passed because the forms will be blank and the delete button would not work correctly. {% endcomment %}
                    {% if parameter %}
                        <input class="btn btn-danger float-left"  type="submit" value="Delete" name="delete">
                    {% endif %}
                        <input class="btn btn-primary float-right" style='background-color:#428BCA;' type="submit" value="Save">



                </div>
            </div>
        </div>



    </form>
            


    

{% comment %} 
<h2>New Group Info</h2>
 <div class="main main-raised" style='margin: 50px'>
            <div class='container' style='margin: 20px; '>
            <br>
                <form name='editgroupfinalize' method='post' action="">       
                    {% csrf_token %}
                    <label for='groupName'>New Group Name: </label>
                    <input type="text" name='groupName' id='groupName'><br><br>
                    <label for='groupDesc'>New Group Description: </label>
                    <input type="text" name='groupDesc' id='groupDesc'>
                    <br><br>
                    <p>Click on each box to select new Group Members</p>
                    <select name='user1' id='user1'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>

                    <select name='user2' id='user2'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>

                    <select name='user3' id='user3'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>

                    <select name='user4' id='user4'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>
                    
                    <button type="submit">Create Group</button>
                </form>
                <br>

            </div>
    </div> {% endcomment %}
{% endblock %}

{% block scripts %}
    $(document).ready(function() {
      $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
      });
    });
{% endblock %}