<!--HOME page-->

{% extends 'base.html' %}
<!--This will inherit the main structure of the base.html-->
{% load static %}



{% block backgroundImg %}                                                                               <!--Make sure to put static in front of static files!!!!-->
<div class="page-header header-filter blur-filter" data-parallax="true" style="background-image: url( {% static 'img/byucampus.jpg'%}  );">
{% endblock %}


{% block mainTitle %}
<h1 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">Current Groups</h1>
{% endblock %}


{% block subTitle %}
<!--<h2 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">Welcome to my personal website!</h2>-->

{% endblock %}



{% block mainBody %}

<h2>Groups</h2>

    {% for group in group_list %}
        
        
            <div>ID: {{ group.id }}</div>
            <div>{{ group.group_name }}</div>
            <div>Group Members: {{ group.username.title }}</div>
            <br>

            <br>
     
    {% endfor %}
    <br>
<!--
        {% for user in  user_list %}
            <div>User ID: {{ user.id }}</div>
            <div>Username {{ user.username.title }}</div>
            <div>Email {{ user.email }}</div>
        {% endfor %}
-->
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
{{group_list.user.id}}

{% endblock %}