{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Groups</title>
</head>
<body>
    <section class='about-section text-center' id='viewGroups'>
        <div class='countainer'>
            <div class='row'>
                <h2 class='text-white mb-4'>
                    <p class='text-white-50'>
                        This is where you view the groups that you are a part of
                    </p>
                </h2>

            </div>
        </div>
    </section>
    <section class="about-section text-center" id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class='container'>
                        {% for g in Group %}
                        <p>
                            {{g.group_name}}
                            {{g.group_description}}
                            {{g.classes}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}