{% extends 'base.html' %}
{% load static %}

{% comment %} https://pypi.org/project/django-widget-tweaks/ {% endcomment %}

{% comment %} Dynamically changes to either create a new assignment, or edit/delete an assignment. Depending on the type of parameters that are passed when accessing the page. {% endcomment %}

{% block backgroundImg %}                                                                            
<div class="page-header header-filter blur-filter" data-parallax="true" style="background-image: url( {% static 'img/byuLibrary.jpg' %}  );">
{% endblock %}


{% block mainTitle %}
<h1 style= "color: white;	-webkit-text-stroke: 0px #282828; text-shadow: 0px 4px 4px #282828;">{% if parameter %} Edit {{parameter.assign_name}}'s Attributes{% else %}Create a New Assignment{% endif %}</h1>
{% endblock %}

{% comment %} 
{% block subTitle %}
<h3 style= "color: white;	-webkit-text-stroke: 1px #282828; text-shadow: 0px 4px 4px #282828;"><b>{% if parameter %}Change the attributes of group {{parameter.group_name}}{% else %}Assign Attributes to a Group{% endif %}</b></h3>

{% endblock %} 
{% endcomment %}



{% block mainBody %}
{% if parameter %}
    <h2>Current Assignment Info</h2>
{% else %}
    <h2>New Assignment Info</h2>
{% endif %}
   <form role="form" action="/viewassignments/edit{% if parameter %}/{{ parameter.id }}{% endif %}/" method="POST" >
        <div class="main main-raised" style='margin: 50px'>
            <div class='container' style='margin: 20px;'>
                <br>
                <h3>{{ parameter.assign_name }}</h3> 
                <div style= "margin-right:40px">
                    {% csrf_token %}
                    {% comment %} Themeing / styling widget_tweaks makes the forms not look so ugly {% endcomment %}
                    {% load widget_tweaks %}
                    {% comment %} form was sent in dictionary context to webpage {% endcomment %}

                    <h4>Assignment Name:</h4>
                    {{ form.assign_name|append_attr:"class:form-control"}}
                    <br><br>
                    <h4>Assignment Description:</h4>  {{ parameter.id }}
                    {{ form.assign_description|append_attr:"class:form-control" }}
                    <br><br>
                    {{ form.assign_completion }} <span> Completed </span>
                    <br><br>
                    <h4>Due Date:</h4>
                    {{ form.assign_duedate|append_attr:"class:form-control" }}
                   
                    
                    </div>
                    <br><br><br>


                    {% comment %} Hides the delete button if there was no parameter passed because the forms will be blank and the delete button would not work correctly. {% endcomment %}
                    {% if parameter %}
                        <input class="btn btn-danger float-left"  type="submit" value="Delete" name="delete">
                    {% endif %}
                        <input class="btn btn-primary float-right"  type="submit" value="Save">



                </div>
            </div>
        </div>



    </form>
            


    

{% comment %} 
<h2>New Group Info</h2>
 <div class="main main-raised" style='margin: 50px'>
            <div class='container' style='margin: 20px; '>
            <br>
                <form name='editgroupfinalize' method='post' action="">       
                    {% csrf_token %}
                    <label for='groupName'>New Group Name: </label>
                    <input type="text" name='groupName' id='groupName'><br><br>
                    <label for='groupDesc'>New Group Description: </label>
                    <input type="text" name='groupDesc' id='groupDesc'>
                    <br><br>
                    <p>Click on each box to select new Group Members</p>
                    <select name='user1' id='user1'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>

                    <select name='user2' id='user2'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>

                    <select name='user3' id='user3'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>

                    <select name='user4' id='user4'>
                        <option value=" "> </option>
                        {% for u in user_list %}
                        <option value="{{ u }}">{{ u }}</option>
                        {% endfor %}
                    </select>
                    
                    <button type="submit">Create Group</button>
                </form>
                <br>

            </div>
    </div> {% endcomment %}
{% endblock %}

{% block scripts %}
    $(document).ready(function() {
      $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
      });
    });
{% endblock %}